<div>
	<div style="text-align: center">
		<h1>Cadastro de Limite de Cr&eacute;dito</h1>
	</div>
</div>
<div class="box-base">
	<div class="box-border box-inner-margin box-inner">
		<div class="box-inner-align-left">
			<span><strong>Cliente: </strong><input type="text"
				id="nome_cliente"></span>
		</div>
		<br>
		<div class="box-inner-align-left">
			<span><strong>Limite de Cr&eacute;dito: </strong><input
				type="text" id="limite_credito"></span>
		</div>
		<br>
		<div class="box-inner-align-left">
			<span><strong>Risco: </strong><input type="text"
				id="ranking_risco"></span>
		</div>
		<br>
		<div class="box-inner-align-left">
			<span style="display: none"><strong>Taxa de Juros: </strong><input
				type="text" id="taxa_juros"></span>
		</div>
		<br>
		<div>
			<app-click></app-click>
		</div>
	</div>
</div>